@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-button-next::after{
    display: none;
}
.swiper-button-prev::after{
    display: none;
}
.swiper-pagination-fraction{
    background-color: #00000075;
    color: white !important;
    width: 38px !important;
    padding-block: 2px;
    font-size: 12px;
    padding-inline: 5px;
    position: absolute !important;
    left: 50% !important;
    border-radius: 50px;
   
    translate: -50% !important;
    /* display: none; */

} 
